/* @import url('https://fonts.googleapis.com/css?
=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Aldrich|Open+Sans&display=swap');


/* color variables */
:root {
    --black-background: #1D1D1D;
    --pink-text: #F1124A; /*#D2127E; */
    --white-text: #fff;
    --grey-credit: grey;
    --grey-credit-background: rgb(85, 85, 85);
    --pink-background: #f2c1d3;
    --white-background: #fff;
    --black-text: #1D1D1D;
    --light-blue: #6E9BBE;
    --light-grey: #F8F8F8;
    --dark-grey: #1D1E22;
}

/* change the text selection color */
::selection {
  background: var(--pink-background); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--pink-background); /* Gecko Browsers */
}

*{
	margin: 0;
  font-family: 'Open Sans', sans-serif; /* body */
}

body{
  height: 100%;
}

h1, h2, .project-tile-title{ /* heading */
  font-family: 'Aldrich', sans-serif !important;
}

h2.center {
  font-size: 3.2rem !important;
}

h2, a:hover{
  color: var(--pink-text) !important;
  text-decoration: none !important;
}

.caption {
	position: absolute;
	left: 0;
	bottom: 40%;
	width: 100%;
	text-align: center;
}

.cta-buttons {
	position: absolute;
	left: 0;
	bottom: 20%;
	width: 100%;
	text-align: center;
}

.cta-button{
  color: var(--white-text);
  border-color: var(--white-text);
  background: transparent;
  border: 2.5px solid;
  display: inline-block;
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
  letter-spacing: .2rem;
  z-index: 999;
  padding: 1rem;
}

.cta-button:hover{
  background: var(--white-text);
  border-color: var(--white-text);
}

.caption h1, h2.border {
	background-color: transparent;
	color: var(--white-background);
/*     var(--black-text); */
	padding: 1.2rem;
	letter-spacing: 0.5rem;
	max-width: 80%;
	margin: 1rem auto;
}

.caption h1{
	font-size: 6rem;
}

.caption h2 {
  font-size: 3.5rem;
}

h1, h2{
    font-weight: 700 !important;
}

html{
  height: 100%;
/*   this is not supported in Safari */
/*   scroll-behavior: smooth; */
}

#header-img{
  max-height: 4rem;
}

#nav-bar{
  font-size: 2rem;
  background-color: black;
  color: var(--white-text);
  font-weight: 900;
  /* border-color: var(--black-background); */
}

.navbar-fixed-top.scrolled {
  background-color: var(--white-text) !important;
  -webkit-transition: background-color 600ms linear;
  -ms-transition: background-color 600ms linear;
  transition: background-color 600ms linear;
}

.navbar{
  border: 0px solid white !important;
  box-shadow: 0 0px 1px 1px rgba(0,0,0,0.2);
}

.img-container {
  background-image: url("https://res.cloudinary.com/cloudlenpel/image/upload/c_scale,w_2500/v1558343713/notebook_1_upak3q.jpg");
/*   background-image: url("https://res.cloudinary.com/cloudlenpel/image/upload/c_scale,w_2000/v1558558161/tulip_2_ktsebp.jpg"); */
/*   background-image: url("https://res.cloudinary.com/cloudlenpel/image/upload/c_scale,w_2500/v1558965137/portfolio/icons8-team-643494-unsplash_1.jpg"); */

  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#about {
  background-color: var(--dark-grey);
  color: var(--black-text);
  min-height: 100%;
}

.about {
  display: flex;
  padding-top: 2rem;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.about span {
  font-family: 'Consolas', 'Courier New', monospace;
}

.body{
	width: 80%;
  position: relative;
}

.anchor {
  	padding-top: 4.2rem;
}

.projects{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
}

.project-tile {
  position: relative;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px 4px rgba(0,0,0,0.2);
  margin: 3.85rem 3rem 6rem;
/*   width: 50%; */
  max-width: 600px; /* 768 */
}

.project-tile-front {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: all .5s ease;
}

.project-tile-back {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  height: 100%;
  overflow: auto;
  background: var(--light-grey);
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s ease;
  transform: translateY(110px) rotateX(-90deg);
  transform-style: preserve-3d;
  z-index: 1;
  opacity: 0;
  text-align: center;
}

.project-tile:hover .project-tile-front{
  opacity: 0;
  transform: translateY(-110px) rotateX(90deg);
}
.project-tile:hover .project-tile-back {
  opacity: 1;
  transform: rotateX(0);
}

.project-tile-title {
  font-size: 2.3rem;
  font-weight: bold;
  margin: 2rem auto;
}

.project-tile-back p {
  font-size: 2rem;
  text-align: left;
  padding-right: 20px;
  padding-left: 20px;
}

.tech-stack{
  color: var(--light-orange);
  text-align: center;
}

.project-image {
  width: 100%;
  height: auto;
}

.center{
	text-align: center;
}

.avatar{
  border-radius: 50%;
}

.photo-credit{
  color: var(--grey-credit);
  position: absolute;
  bottom: 0px;
  right: 10px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.photo-credit:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.profile-link:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  background-color: transparent;

  /* Position the tooltip text */
  position: absolute;
  bottom: 100%;
  right: 1rem;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.7s;
}

.profile-link .tooltiptext{
  right: 0;
}

.btn-mypink {
    background-color: transparent;
    transition: all 1s;
}

.btn-mypink:hover {
    transform: scale(1.4);

}

.text-mypink {
    color: var(--pink-text);
}

#contact.anchor{
  padding-bottom: 1rem;
}

form#contactform {
    position: relative;
    margin: 2rem auto;
    max-width: 500px;
    background-color: transparent;
    padding: 1rem;
}

section.contact {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background: var(--light-grey);
    min-height: 100vh;
}

#Name, #Email, .message {
  border: none;
  border-bottom: 1px solid var(--pink-text);
  color: var(--pink-text);
  width: 100%;
  background-color: transparent;
  padding: 2rem 0;
}

/* most browsers use grey color for placeholder, I want pink*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--pink-text);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--pink-text);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--pink-text);
}

textarea {
  resize:vertical;
}

.submit-button{
  margin-top: 2rem;
  color: var(--pink-text);
  border-color: var(--pink-text);
}

.submit-button:hover{
  background: var(--pink-text);
  color: var(--light-grey);
  border-color: var(--pink-text);
}

.contact-buttons {
  margin-top: 4rem;
}

.caption h2{
  color: var(--white-text) !important;
  margin-top: 3rem;
}

/* heartbeat animation */
 .heart {
    position: absolute;
    margin: auto;
    top: 10px;
    right: 0;
    bottom: 15px;
    left: 0;
    background-color: var(--white-text);
    height: 20px;
    width: 20px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  .heart:after {
    background-color: var(--white-text);
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 10px;
  }
  .heart:before {
    background-color: var(--white-text);
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    left: 0px;
  }

  @keyframes beat {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    50% {
      transform: scale(0.6) rotate(-45deg);
    }
  }

.antispam {
  display:none;
}

/* return to top icon */
#scroll-top {
  position:fixed;
  right:15px;
  bottom:10px;
  cursor:pointer;
  width:50px;
  height:50px;
  background-color: var(--grey-credit-background);
  opacity: 0.5;
  text-indent:-9999px;
  display:none;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px;
  z-index: 100;
}

#scroll-top span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:#ffffff;
}

#scroll-top:hover {
  background-color: var(--black-text);
}

@media (min-width: 900px) {
/* big screen */

  .body{
    width: 100%;
    margin: 2.85rem 2rem;
    position: relative;
  }

  .project-tile {
    /* margin: 3.85rem 4rem 6rem; */
    /* max-width: 40%; */
  }

  .caption h1, h2.border, .about {
	  width: 80%;
    max-width: 850px;
  }

  .about{
    padding-top: 3rem;
    font-size: 2.5rem;
  }
}

@media (max-width: 899px) {
/* small screen */
  .body{
    width: 100%;
    margin: 2.85rem 2rem;
    position: relative;
  }

  .project-tile {
    margin: 3.85rem 0;
/*     max-width: 90%; */
  }

  .project-tile-back p {
    font-size: 1.5rem;
  }

  .caption h1, h2.border, .about {
	  width: 90%;
    max-width: 600px;
  }

  .about{
    font-size: 1.8rem;
  }

  .caption h1{
    font-size: 3.6rem;
    letter-spacing: 0.35rem;
  }

  .caption h2 {
    font-size: 2rem;
  }
}